body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

a {
  margin: 16px;
  display: block;
  text-decoration: none;
  color: rgb(18, 142, 236);
}

img {
  margin: 16px;
}

p {
  margin: 16px;
}